    @media only screen and (max-width: 1024px){
        .right_box .s_title{
            height: 100px;
            margin-bottom: 6px;
            line-height: 45px;
        }
    } /*>=1024的设备*/

    @media only screen and (max-width: 900px) {
    }

    @media only screen and (max-width: 768px) {
        .right_box .items .item .time{
            width: 50%;
        }
        .right_box .items .item .s_biao{
            position: relative;
            width: 50%;
        }
    }

    @media only screen and (max-width: 640px) {
        .right_box .s_title{
            height: auto;
            padding-bottom: 10px;
        }
        .right_box{
            overflow-y:scroll;
        }
        .right_box .items .item{
            height: auto;
            min-height: 200px;
            padding-bottom: 15px;
        }
        .right_box .items .item .time{
            width: 100%;
            text-align: center;
            height: 50px;
        }
        
        .right_box .items .item .s_biao{
            position: relative;
            width: 100%;
            margin-top: 10px;
        }
        .right_box .items .item .health .s_pic{
            width: 100%;
            text-align: center;
        }
        .right_box .items .item .health .s_biao{
            width: 96%;
            height: 70px;
            margin: 10px auto;
        }
        .right_box .items .item .health .message{
            margin: 50px auto 0 auto;
        }
    }

    @media only screen and (max-width: 480px) {

    }